<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flag Page</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        font-size: 16px;
        background-image: url("../assets/image3.png");
        background-size: 100%;
        background-position: center;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }

      .container {
        background-color: rgba(255, 255, 255, 0.5);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 260px; /* Adjusted to 65% of its original size */
        width: 100%;
        text-align: center;
      }

      h1,
      p {
        text-align: center;
        padding: 10px;
        color: black;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>You Sly Dog!</h1>
      <p>You figured out how to be an admin.</p>
      <p>Here is the flag: Sly_Dog</p>
    </div>
  </body>
</html>
