<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flag Page</title>
  </head>
  <body>
    <h1>You sly dog!!</h1>
    <p>You have figured out how to be an admin.</p>
    <p>Here is the flag: Sly_Dog</p>
  </body>
</html>
